<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>

<body>
    <h1>G-TRADING</h1>
    <h2>Cadastre-se</h2>
    E-mail: <input type="email" name="Digite seu Email:" id="1"><br> Senha: <input type="password" name="Senha" id="2">
    <br>
    <p>Ja tem um login?</p>
    <a href="/">Clique Aqui!</a>
    <h1>ESTA E A PAGINA DE CADASTRO</h1>
</body>

</html>